<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GGP_Base/src/apps/player/PlayerPanel.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="apps.player.PlayerPanel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GGP_Base"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/brndmg/Documents/CS/CS227B/ggp-spr1112"/>
</launchConfiguration>
